/*ONEPAGE PROJEKT HUSSEIN & MATHIAS */

body {
    font-family: sans-serif;
    background-color: #ffffff;
    margin: 0em;
}



#mitgrid div {
    
    color: #000000;
    text-align: center; 
    border-color: #000000;
    border:0px solid black;
}

#mitgrid {
    display: grid; 
    grid-gap: 0px; /*Mellemrum mellem kasserne*/
    grid-template-columns: 2fr 2fr  2fr 2fr;
    /*grid-template-rows: 0fr 0fr 0fr 8fr 1fr 1fr 1fr 1fr;
    */grid-template-areas:
    "a logo logo i" 
    "b b b b" /* punktum står for at man skal springe den første over */
    "indhold indhold indhold indhold"/*INDHOLD*/
    "c c c c" /*FAKTA HER*/
    "d d d d" /*KNÆK HER*/
    "d d d d" /*KNÆK HER*/
    "e e e e" /*OPSKRIFTER HER*/
    "f f f f"/*NYHEDSBREV HER*/
    "g g g g";/*FOOTER HER */
}

#logo img{width:100%;}
#billede_stor img{width:100%;}
.knaek img{width:100%;}
.op2 img {width:100%;}
#nav {
    background-color: white;
    grid-area: a;
    
}

#nav p {
font-size:1em;
}

#nav2 {

    font-size: 1em;
}

#nav2 p {
font-size:1em;
}

#billede_stor {
    grid-area: b;
}

/*styre teksten øverst på siden */
#indhold {
    background-color: #ffffff;
    grid-area: indhold;
    padding: 0.2em 0.2em 0.2em 0.2em ;
    font-size:3em;
    margin-bottom:0.5em;

}

#indhold h1 { /*styre alle h1'er i under ID'et indhold */
    font-size:0.5em;
    margin-top:0px;
    

}

#indhold p {
    font-size:0.4em;
    text-align: left;
    padding: 0em 0.2em 0.2em 0.2em;


}


#fakta {
    background-color: #ffffff;
    grid-area: c;
    margin-bottom: 5em;

    
}


#fakta h1 {

width:100%;
margin-bottom:1.7em;
}

#cirkel_boks {
    width:30%;
    display:inline-block;
    background-color: red;
    padding:5px 5px 5px 5px;
    min-height:400px;
}


#cirkel_boks p {

display:block;
text-align:center;


}


.circle {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0;
    padding: 50% 0%;
    border-radius: 50%;
/* For at gøre det pænt */
@shadow: rgba(0, 0, 0, .1);
@shadow-length: 4px;
-webkit-box-shadow: 0 @shadow-length 0 0 @shadow;
box-shadow: 0 @shadow-length 0 0 @shadow;
text-shadow: 0 @shadow-length 0 @shadow;
   background: #dfd2c1;
   color: white;
   font-family: "josefin sans", Arial Black, sans;
   font-size: 20px;
   text-align: center;
   }

.cirkel-tekst {

    font-size:3em;

}


.knaek {
    background-color: #ddd;
    grid-area: d;

}

.opskrifter {
    grid-area: e;
}

#nyhedsbrev {
    grid-area: f;
}

#logo {
    background-color: #ffffff;
    grid-area: logo;
}

footer {
    background-color: #ffffff;
    grid-area: g;
}



.wrapper_fakta {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    font-size:1em;
    grid-template-areas:
    "1a 1a 1a"
    border:1px solid black;
}






/*Opskrifter starter her */

.opskrifter2 div {
    font-size: 2em;
    color: #000000;
    border-color: #000000;
}

.opskrifter_wrapper {
    display: grid; 
    grid-gap: 0px; /*Mellemrum mellem kasserne*/
    margin-top:1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 0fr 1fr 1fr;
    grid-template-areas:
    "a2 a2 a2 a2"
    "a a a a"
    "b b b b" /* punktum står for at man skal springe den første over */
    "c c c c";
}

.op0 {

    grid-area: a2;
    text-align:left;
    margin-top:0.5em;

}

.op0 h2 {

    font-size:1.2em;
    
    
}

.op1 {
    background-color: #FBBB4a;
    grid-area: a;
    margin-top:1em;

}

.op1 h2{
    font-size:0.9em;
    
}

.op2 {
    grid-area: b;

}

.op3 {
    background-color: #ebebeb;
    grid-area: c; 
    font-size:1em;
    text-align:left;
    
}



.op3 h3{
    
    text-align: left;
    padding-left:1em;
    font-size:0.8em;
    margin-bottom: -1.2em;
                                
}
                    
.op3 ul{

    text-align: left;
    padding-left:1em;
    font-size:2em;
}

.op3 li{
    font-size:0.3em;
    text-align: left;

    
}



